{##
 # Layout editor panel
 #
 # @ListChild(list="themetweaker-panel--body", weight="100")
 #}

<div class="themetweaker-panel--content" data-panel-content>
  {{ widget_list('themetweaker-panel--content') }}
</div>