{##
 # Layout editor panel
 #
 # @ListChild(list="themetweaker-panel--header", weight="100")
 #}

<div class="themetweaker-panel--tabs-wrapper">
    <div class="themetweaker-panel--tabs" data-panel-tabs>
        {{ widget_list('themetweaker-panel--tabs') }}
    </div>
</div>