{##
 # Sitemap page
 #}

<div class="google-shopping-groups-page">
  <p>{{ t('Assign your attributes to Google groups to import your variants.') }}</p>
  {{ widget('XLite\\Module\\XC\\GoogleFeed\\View\\ItemsList\\Model\\Attribute\\ShoppingGroup') }}
</div>