{##
 # Main logo
 #}
<div class="quick-menu-menu menu">
  <div class="title">
    {{ t('Quick menu') }}
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="box">{{ widget('XLite\\View\\Menu\\Admin\\QuickMenu\\Menu') }}</div>
</div>
