{##
 # Add to bag buttons
 #}
<div class="add-button-wrapper {{ this.getFingerprint() }}">
  {% if not this.isAllStockInCart() and this.isProductAvailableForSale() %}
    {{ widget('\\XLite\\View\\Button\\Submit', label=t(this.getAddButtonLabel()), style='regular-main-button add2cart') }}
  {% elseif this.isAllStockInCart() and this.isProductAvailableForSale() %}
    {{ widget('\\XLite\\View\\Button\\Link', label=t('View cart'), location=url('cart') , style='regular-main-button') }}
  {% endif %}
</div>
