
<div class="select-file-wrapper">
  {{ this.displayCommentedData(this.getCommentedData()) }}
  {{ widget('XLite\\View\\Button\\Regular', label=this.getButtonLabel(), jsCode='return false', style='select-file-button') }}
</div>