{##
 # Orders
 #
 # @ListChild (list="tabs.after.items", zone="admin", weight="100")
 #}

<div class="actions">
  {{ widget('\\XLite\\View\\Button\\Dropdown\\ProfileOperations', useCaretButton=false) }}
</div>
