{##
 # Resising
 #
 # @ListChild (list="images_settings", weight="30")
 #}

<li>{{ widget('\\XLite\\View\\FormField\\Input\\Text\\Integer', fieldName='resize_quality', value=this.getResizeQuality(), label='Image quality after resize', min=1, max=100) }}</li>