{##
 # Category element
 #
 # @ListChild (list="itemsList.category.cell.name", weight="10")
 #}

<div class="sale-discount-labels">
  {% for saleDiscount in this.entity.getApplicableSaleDiscounts() %}
    {% if this.getSaleDiscountEditLink(saleDiscount) %}
      <a class="sale-label-link" href="{{ this.getSaleDiscountEditLink(saleDiscount) }}">
        <span class="product-name-sale-label">{{ saleDiscount.getName() }}</span>
      </a>
    {% else %}
      <span class="product-name-sale-label">
        {{ saleDiscount.getName() }}
      </span>
    {% endif %}
  {% endfor %}
</div>
