{##
 # Variants are based
 #}

<div class="{{ this.getBlockStyle() }}">
  <div class="header clearfix">
    <span class="title">{{ this.getTitle()|raw }}</span>
    <a href="#" class="change-attributes">{{ t('Change') }}</a>
    {% if this.isAllowVaraintAdd() %}
      {% include 'modules/XC/ProductVariants/variants/parts/create_variants.twig' %}
    {% endif %}
  </div>
</div>
