{##
 # Product sku
 #
 # @ListChild (list="checkout_fastlane", weight="5")
 # @ListChild (list="checkout.main", weight="5")
 #}

<div class="fb-pixel-init-checkout-data">
  {{ this.displayCommentedData(this.getPixelInitCheckoutData()) }}
</div>
