{##
 # Banner rotation widget template
 #}

<div id="banner-rotation-widget" class="carousel slide banner-carousel">
  {{ this.displayCommentedData(this.getCommentedData()) }}

  <!-- Indicators -->
  {% if this.isRotationEnabled() %}
    <ol class="carousel-indicators">
      {% for i, image in this.getImages() %}
        <li data-target="#banner-rotation-widget" data-slide-to="{{ i }}"></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="carousel-inner not-initialized" role="listbox">
    {% for image in this.getImages() %}
      <a {% if image.bannerRotationSlide.getFrontLink() %} href="{{ image.bannerRotationSlide.getFrontLink() }}"{% endif %} class="item">
        {{ widget('\\XLite\\View\\Image', lazyLoad=true, image=image, alt=image.getAlt(), resizeImage=false, useCache=false) }}
      </a>
    {% endfor %}
  </div>
</div>
