{##
 # Migrate images
 #}
<div class="alert alert-warning">
  <i class="fa fa-warning"></i>
  {{ t('API key is a secret key that allows to access REST API functionality. If this key is not specified in a request will not be executed.') }}
</div>
<div class="alert alert-warning">
  <strong>{{ t('IMPORTANT:') }}</strong> {{ t('REST API allows to get or change any information in your store (including profiles, orders, payment transactions, inner store configuration, products, categories and so on), so your API key must be as complex as possible and kept private.') }}
</div>
