{##
 # Rating value in text
 #}
 <div class="text">
  {% if this.getVotesCount() > 0 %}
    <div>{{ t('Score: X. Votes: Y', {'score': this.getAverageRating(), 'votes': this.getVotesCount()}) }}</div>
    {% if this.getReviewsCount() > 0 %}
      <div>{{ t('Reviews: X', {'count': this.getReviewsCount()}) }}</div>
    {% else %}
      <div>{{ t('No reviews.') }}</div>
    {% endif %}
  {% else %}
    <div>{{ t('Not rated yet') }}</div>
  {% endif %}
</div>
