{##
 # Theme tweaker notitication editor products data widget
 #}

<div class="themeTweaker-products themeTweaker-data-widget">
  <div class="title">{{ 'Product Skus' }}</div>
  <div class="themeTweaker-data-widget-input themeTweaker-products-change-input">
    <input type="text" class="form-control"
           name="data[products]"
           placeholder="{{ t('Enter product SKUs') }}"
           value="{{ this.getValue() }}"
    />
  </div>
</div>