{##
 # 404 related products dialog
 #}

<p class="page-404">{{ t('This product is no longer available although you may find similar or newer version below.') }}</p>

{% include 'common/dialog.twig' %}