{##
 # Product market price
 #
 #
 # @ListChild (list="cart.item.info.xpayments_subscription", weight="400")
 #}

<div class="text">
  <span>{{ this.xpaymentsSubscription.getXpaymentsTotalPaymentsDescription() }}</span>
</div>
