{##
 # Layout editor show hidden blocks button
 #
 # @ListChild (list="layout_editor", weight="20")
 #}

<div class='layout-editor-hidden-list'>
	<button class='themetweaker-button layout-editor-hidden-block' v-for="item in hiddenBlocks" @click="showBlock(item.element)">
		<span class="name" v-text="getBlockName(item)"></span>
		<span class="action"><i class="icon">{{ svg('modules/XC/ThemeTweaker/themetweaker/layout_editor/icons/view.svg')|raw }}</i>{{ t('Enable hidden block') }}</span>
	</button>
</div>
