{##
 # Wholesales list
 #
 # @ListChild (list="itemsList.wholesalePrices.header.before", weight="100")
 #}

<div class="alert alert-info wholesale-prices-membership-note">{{ t('Prices set for specific membership levels override prices set for all customers') }}</div>
