{##
 # Sign-in
 #
 # @ListChild (list="signin.main.wrapper", weight="300")
 #}

<div class="signin-anonymous-wrapper">
  {% include 'signin/parts/anonymous/heading.twig' %}
  <div class="signin-anonymous-box">{{ widget_list('signin-anonymous-title') }}</div>
</div>