{##
 # Sign-in
 #
 # @ListChild (list="signin.main.wrapper", weight="200")
 #}

<div class="or-line">
  <div class="line"></div>
  <div class="or-box">
    <div class="or">{{ t('or') }}</div>
  </div>
</div>