{##
 # Facebook feed generation progress section
 #}

<div class="product-feed-generation-box product-feed-generation-progress event-task-progress-page">

  <div class="content">
    {% form 'XLite\\Module\\XC\\FacebookMarketing\\View\\Form\\ProductFeedGeneration' with {formAction: 'productFeedGenerationCancel'} %}
    <div class="subcontent clearfix">
      {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName(), message=this.getProgressMessage(), showCancel=false ) }}
    </div>
    {{ widget('XLite\\View\\StickyPanel\\EventProgress') }}
    {% endform %}
  </div>

</div>
