{##
 # Activate license key
 #}

<div class="activate-key-block{% if this.isModuleActivation() %} module-activation{% endif %}">

  {% if this.isModuleActivation() %}
    <div class="enter-key-hint">
      {{ t('Before installing a paid addon for this installation, you need to activate your X-Cart license.')|raw }}
    </div>
    {% include 'modules_manager/activate_key_v2/activate_key.twig' %}
  {% else %}
    <div class="enter-key-hint">
      {{ t('Please enter your license key in the field below or contact our Solution Advisors to get one.')|raw }}
    </div>
    {% include 'modules_manager/activate_key_v2/activate_key.twig' %}
  {% endif %}


</div>
