{##
 # Contact us
 #}

<div class="contact-us-block">
  <div class="form-wrapper">
    {{ widget('\\XLite\\Module\\CDev\\ContactUs\\View\\FormWrapper') }}
  </div>

  <div class="company-info">
    {{ widget('\\XLite\\Module\\CDev\\ContactUs\\View\\CompanyInfo') }}
  </div>
</div>
