{##
 # Company info
 #}

<div class="contact-us-description">{{ t('To contact us please fill the form below')|raw }}</div>

{{ widget('\\XLite\\Module\\CDev\\ContactUs\\View\\Model\\Contact') }}

<div class="contact-us-help-label">
  {{ t('We are always glad to help you.')|raw }}
</div>
