{##
 # Export failed section
 #}

<div class="export-box export-not-started">
    <div class="header clearfix">
        <h2>{{ t('Export not started') }}</h2>
    </div>

    <div class="content">
        <div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
        <div class="message">{{ t('Export of Not Finished orders is not supported. To export the orders which are now in this state, change their fulfillment status from Not Finished to any other.') }}</div>
    </div>
</div>
