{##
 # Sale discounts list
 #}

<div class="alert alert-warning">
  {{ t('To ensure that products sorting and the addon Product Filter works correctly, after changing or adding sale offers, launch the re-calculation of quick data.', {'link': this.buildURL('cache_management')})|raw }}
</div>

{% form 'XLite\\Module\\CDev\\Sale\\View\\Form\\SaleDiscounts' %}

  {{ widget('XLite\\Module\\CDev\\Sale\\View\\ItemsList\\SaleDiscounts') }}

{% endform %}
