{##
 # Product sku
 #}
<div class="{{ this.getFingerprint() }}">
  <input type="hidden" name="facebook_pixel_content_id" value="{{ this.getFacebookPixelContentId() }}" />
  <input type="hidden" name="facebook_pixel_value" value="{{ this.getFacebookPixelValue() }}" />
  <input type="hidden" name="facebook_pixel_value_currency" value="{{ this.getFacebookPixelValueCurrency() }}" />
</div>
