{##
 # Order transaction details
 #}

<div class="transaction-details">
  {{ widget('\\XLite\\View\\Tooltip', text=this.getTransactionStatusPopoverContent(), caption=this.getTransactionStatusPopoverTitle(), isImageTag='false', placement='left', delay='0', className='help') }}
</div>
