{##
 # Webmaster panel help
 #}

<div class="panel-help">
  <div>{{ this.getHelpText()|raw }}</div>
  {{ widget('XLite\\View\\Button\\Link', location=this.getStorefrontUrl(), label=t('Customize storefront'), style="regular-button") }}
</div>