{##
 # Sign-in
 #
 # @ListChild (list="signin.main.wrapper", weight="100")
 #}

<div class="signin-login-wrapper">
  <div class="signin-login-title">{{ t('Existing Customer?') }}</div>
  <div class="login-box">{{ widget_list('customer.checkout.signin') }}</div>
</div>
