{##
 # Just a template for settings. We need it since we do not implement decorator for modules now
 #}

<div class="admin-welcome geolocation-promo">
  {{ t('Geolocation header promo')|raw }}
</div>
