<span class="date">{{ this.formatDate(this.formatMailChimpTime(this.getColumnValue(this.column, this.entity))) }}</span>
<span class="time">{{ this.formatDayTime(this.formatMailChimpTime(this.getColumnValue(this.column, this.entity))) }}</span>