{##
 # Images sizes settings template
 #
 # @ListChild (list="images_settings", weight="100")
 #}

<li>
  <div class="custom-images">

    <h2>{{ t('Custom images') }}</h2>

    <div class="new-image">
      <div>
        <input id="new_images" class="inputfile" type="file" name="new_images[]" multiple />
        <label for="new_images" class="input-button">{{ t('Upload image') }}</label>
        <span class="input-filename"></span>
      </div>
    </div>

    {{ widget('\\XLite\\Module\\XC\\ThemeTweaker\\View\\Images') }}

  </div>
</li>