{##
 # Sale price (internal list element)
 #
 # @ListChild (list="product.plain_price.before.sale_price.text", weight="100")
 #}
<span class="value">{{ this.formatPrice(this.getOldPrice(), this.null, 1) }},</span> 
