{##
 # Page content
 #
 # @ListChild (list="static_page.info", weight="100")
 #}

<div class="page-body-content" {{ this.printTagAttributes(this.page.getFieldMetadata('body'))|raw }}>{{ this.page.getBody()|raw }}</div>
