{##
 # Category removal notice
 #}

<div class="removal-notice-popup">
  <p>{{ t('The selected categories have been deleted. There are products with no assigned category.') }}</p>
  {{ widget('XLite\\View\\Button\\Link', location=this.getNoCategoryProductsLink(), label='Show products with no assigned category') }}
</div>