{##
 # Language name cell
 #}

<span class="flag"><img src="{{ this.entity.getFlagURL() }}" /></span>
<a href="{{ url('labels', '', {'code': this.entity.getCode()}) }}">{{ this.entity.getName() }}</a>
