{##
 # ____file_title____
 #}

<div class="no-payment-methods-appearance">
  <div class="box">
    <div class="no-payments-found">{{ this.getNoPaymentMethodsFoundMessage() }}</div>
      <div class="no-payments-found">{{ t('Try to search worldwide or find the needed solution in marketplace', {'URL': this.getContactUsURL()})|raw }}</div>
  </div>
</div>
