{##
 # Theme tweaker notitication editor sidebar tree
 #}

<div class="themeTweaker_tree not-processed" data-editor-tree data-interface="{{ this.getInterface() }}" data-inner-interface="{{ this.getInnerInterface() }}">
  {{ this.getTreeContent()|raw }}
</div>
