{##
 # confirm on template switch
 #}

<xlite-themetweaker-modal :show="isSwitchConfirmVisible" namespace="switchConfirm">
  <p slot="body" class="text-center">{{ t('You have unsaved changes. Are you sure to discard them and open another template?') }}</p>
</xlite-themetweaker-modal>