{##
 # Live Chat ad
 #}

<div>
  {{ t('Don’t lose any more sales that are coming to your website. LiveChat gives you an opportunity to engage in real-time conversations and convert more visitors before they leave. Create a LiveChat account here.')|raw }}
</div>