{##
 # Product market price
 #
 #
 # @ListChild (list="product.plain_price.tail.xpayments_subscription_info.text", weight="300")
 #}

<div class="text">
  <span class="value">{{ this.getXpaymentsPlanDescription() }}</span>
</div>
