{##
 # Payment status cell
 #}

<span class="tooltip-title">{{ this.getTitle() }}</span>
<div class="tooltip-content">
    <ul>
        {% for dataCell in this.entity.getTransactionData() %}
          <li class="data-cell">
              <span class="data-cell-title">
                {% if dataCell.getLabel() %}
                  {{ t(dataCell.getLabel()) }}
                {% else %}
                  {{ dataCell.getName() }}
                {% endif %}
              </span>
              <span class="data-cell-value">{{ this.getCellValue(dataCell)|raw }}</span>
          </li>
        {% endfor %}
    </ul>
</div>
