{##
 # Shopper approved promo body
 #}

<div class="shopper_approved">
  <a href="{{ this.getPromoLink() }}"><img src="{{ this.getPromoImageUrl() }}" alt="{{ t('Shopper approved promo') }}"></a>
</div>
