{##
 # Sales channels plus button
 #}
<a href="#" class="{{ this.getClass() }}" title="{{ t('Add sales channel') }}">
  {{ this.displayCommentedData(this.getURLParams()) }}
  <i class="fa fa-plus-circle-o"></i>
</a>
