{##
 # Block content
 #
 # @ListChild(list="welcome-block.root", weight="100")
 #}

{{ widget_list('welcome-block.root.title') }}
<div class="block-content">
  {{ widget_list('welcome-block.root.content') }}
</div>
