{##
 # Title
 #
 # @ListChild (list="welcome-block.root.title", weight="10")
 #}

<h1 class="block-heading">{{ t('Steps to complete your store for real sales', {'url': this.getShopURL()})|raw }}</h1>
