{##
 # Cloud
 #}
 
{{ this.displaySVGImage('images/cloud.svg') }}

<div class="spinner"></div>

<h2>{{ t('We are transferring your store to a new domain now. This may take up to a few minutes.')|raw }}</h2>

<p>{{ t('If you have any questions please drop us a line at <a href="mailto:X">X</a> or just dial one of the following numbers:', {'email': 'support@x-cart.com'})|raw }}</p>

<span class="phones">
  <span class="phones__phone phones__phone--us">
    <a href="tel:18006577957">1-800-657-7957</a>
  </span>
  <span class="phones__phone phones__phone--uk">
    <a href="tel:08000488862">0800-048-8862</a>
  </span>
</span>
