{##
 # Block content
 #
 # @ListChild(list="welcome-block.non-root", weight="100")
 #}

{{ widget_list('welcome-block.non-root.title') }}
<div class="block-content">
  {{ widget_list('welcome-block.non-root.content') }}
</div>
