{##
 # Account top menu node
 #}
<div class="account-menu menu">
  <div class="title">
    <div class="icon">{{ this.getSVGImage('images/fa-male-user.svg')|raw }}</div>
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="box">{{ widget('XLite\\View\\Menu\\Admin\\Account\\Menu') }}</div>
</div>
