{##
 # Code mirror textarea field
 #}

<span class="input-field-wrapper {{ this.getWrapperClass() }}" v-pre="v-pre">
    <textarea {{ this.getAttributesCode()|raw }}>{{ this.getValue() }}</textarea>
</span>