{##
 # Paypal button (Paypal Commerce Platform)
 #}

<div class="{{ this.getButtonClass() }}" data-product-id="{{ this.getProductId() }}">
  {{ this.displayCommentedData(this.getButtonParams()) }}
</div>
