{##
 # Import completed section
 #}

<div class="import-box import-completed">

  <div class="header clearfix">
    <h3>{{ t('Import results') }}</h3>
  </div>

  <div class="content">
    <div class="subcontent clearfix">
      {{ widget_list('import.completed.content') }}
    </div>
  </div>

</div>

{{ widget('XLite\\View\\StickyPanel\\ImportCompleted') }}