{##
 # Import failed section
 #}

<div class="import-box import-failed">

  <div class="header clearfix">
    <h3>{{ this.getFailedHeader() }}</h3>
  </div>

  <div class="content">
    {% if this.getLinesMessage() %}
      <div class="subcontent clearfix">
        <p>{{ this.getLinesMessage() }}</p>
      </div>
    {% endif %}
    <div class="subcontent clearfix">
      {{ widget_list('import.failed.content') }}
    </div>
  </div>

</div>

{{ widget('XLite\\View\\StickyPanel\\ImportFailed', isDisplayProceedButton = this.isDisplayProceedButton()) }}