{##
 # Express checkout
 #}
<div class="button pp-button {{ this.getFingerprint() }}">
    {% if not this.isAllStockInCart() and this.isProductAvailableForSale() %}
        {{ widget('\\XLite\\Module\\CDev\\Paypal\\View\\Button\\Product\\ExpressCheckout') }}
    {% endif %}
</div>