{##
 # Read all reviews link
 #
 # @ListChild (list="product.reviews.tab", weight="500")
 #}

{% if this.isDisplayReadAllReviewsLink() %}
  <div class="link">
    <div class="line"></div>
    <a href="{{ url('product_reviews', '', {'product_id': this.product.getProductId(), 'category_id': this.product.getCategoryId()}) }}">{{ t('Read all reviews about the product') }} ({{ this.product.getReviewsCount() }})</a>
  </div>
{% endif %}
