{##
 # 404 links
 #
 # @ListChild (list="404.default", weight="400")
 # @ListChild (list="404.product", weight="400")
 # @ListChild (list="404.category", weight="400")
 #}

<div class="page-404">
  {{ this.getRegularText()|raw }}
</div>
