{##
 # Attached files list
 #
 # @ListChild (list="invoice.item.name", weight="100")
 #}

{% if this.item.customerAttachments and not this.item.customerAttachments.isEmpty() %}
  <li class="separated">
      <ul class="file-attachments">
          <li>{{ t('Attached files:') }}</li>
          {% for attachment in this.item.customerAttachments %}
            <li>{{ attachment.fileName }}</li>
          {% endfor %}
      </ul>
  </li>
{% endif %}