{##
 # Date cell
 #
 #}

<div class="subscription-id">
  <span class="subscription-id"><a href="{{ url('x_payments_subscription', '', {'subscription_id': this.entity.getId()}) }}">#{{ this.entity.getId() }}</a></span>
</div>
