{##
 # Center box
 #
 # @ListChild (list="layout.main.center", weight="0")
 #}

<div id="hidden-sidebar-content" class="column">
  {{ widget('XLite\\Module\\XC\\ThemeTweaker\\View\\Layout\\Customer\\SidebarHidden', group='center') }}
</div>
