{##
 # Desktop navbar (moved from top_menu.twig)
 #}

<div class="navbar navbar-inverse mobile-hidden" role="navigation" data-desktop-navbar>
    {% if this.shouldRender() %}
    <div class="collapse navbar-collapse">
      {{ widget_list('header.menu') }}
    </div>
    {% endif %}
</div>