{##
 # Inline file title field view
 #}

<span class="value">{% include 'form_field/inline/view.twig' %}</span>

<div class="second-line">
  <span class="size">{{ this.getFileSize() }}</span>
  <span class="click-tip">
    {% if this.getFileSize() %}
      -
    {% endif %}
    {{ t('Click to edit') }}
  </span>
</div>